doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= settings.text[language].siteTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="icon" type="image/png" sizes="192x192"  href="/favicon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="dest/css/style.css")

  body
    <!--[if lt IE 10]>
    p.chromeframe You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
    <![endif]-->

    .container.main-container
      .row
        header
          .col-md-12
            img.logo(src="dest/images/logo.png" srcset="dest/images/logo.png 1x, dest/images/logo@2x.png 2x" alt=`${settings.text[language].logoAlt}`)
            h1.title= settings.text[language].siteTitle
      .stripes
        .stripe
        .stripe
        .stripe

      block content

      footer.row
        .about.col-md-9!= settings.text[language].footerAbout
        .copyright.col-md-3!= settings.text[language].footerCopyright

    script!= `var language='${language}';`
    script(src="dest/index.js")
